Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: validation
  .github/workflows/chromatic.yml
Due: none

feat: adding controller examples
  src/components/controllers/mobile-controller.ts
  src/components/controllers/slotted-controller.ts
Due: eslint --fix, prettier --write

feat(breadcrumbs): adding in the css static styles
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.mdx
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
Due: eslint --fix, prettier --write

fix: delete .npmrc to fix GitLab pipeline issues temporarily
  .npmrc
Due: none

feat(breadcrumbs): adding in the slash divider
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.mdx
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
Due: eslint --fix, prettier --write

feat(breadcrumbs): cleaning up dead code
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.mdx
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
Due: eslint --fix, prettier --write

Remove custom docker image, use default node v14
  .gitpod.Dockerfile
  .gitpod.yml
  package.json
Due: prettier --write

feat(list): update list to include heading and footer slots
  src/components/base/outline-list/outline-list.stories.ts
  src/components/base/outline-list/outline-list.ts
Due: eslint --fix, prettier --write

fix: adjusting storybook deploy back to gh-pages branch
  .github/workflows/storybook.yml
Due: none

fix: attempting alternate Storybook build for gh-pages
  .github/workflows/storybook.yml
Due: none

fix: validation cleanup
  .github/workflows/storybook.yml
Due: none

fix: adjustment to setup for storybook publish
  .github/workflows/storybook.yml
Due: none

fix: adjustments to cache on storybook action
  .github/workflows/storybook.yml
Due: none

fix: adjusted storybook and build
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

feat(breadcrumbs): removing the unnecassry slottedcontroller name
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
Due: eslint --fix, prettier --write

fix: imported horizontal alignment from outline elements into the container config to avoid namespace issue
  src/components/base/outline-container/config.ts
Due: eslint --fix, prettier --write

fix: remove contributors section from package.json
  package.json
Due: prettier --write

fix(breadcrumbs): minor tweaks to setup and default css/text
  outline.theme.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.mdx
  tailwind.config.js
Due: eslint --fix, prettier --write

fix(breadcrumbs): remove unecessary :host references in css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
Due: none

Merge pull request #96 from phase2/feature/breadcrumbs
  outline.theme.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.mdx
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
  src/components/base/outline-breadcrumbs/test/outside-breadcrumbs.test.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

feat(utils): adding core Shoelace utilities
  src/utilities/animate.ts
  src/utilities/event.ts
  src/utilities/focus-visible.ts
  src/utilities/form-control.ts
  src/utilities/math.ts
  src/utilities/modal.ts
  src/utilities/number.ts
  src/utilities/offset.ts
  src/utilities/scroll.ts
  src/utilities/slot.ts
  src/utilities/string.ts
  src/utilities/support.ts
  src/utilities/tabbable.ts
  src/utilities/watch.ts
Due: eslint --fix, prettier --write

feat(utils): Add browserlistrc
  .browserslistrc
Due: none

Update .browserslistrc
  .browserslistrc
Due: none

feat(outline-list): import smc improvemnts: divider, orientations, columns, itemcount slider
  src/components/base/outline-list/outline-list.css
  src/components/base/outline-list/outline-list.stories.ts
  src/components/base/outline-list/outline-list.ts
Due: eslint --fix, prettier --write

style(outline-list): fmt styles
  src/components/base/outline-list/outline-list.css
Due: none

OUTLINE-112: added mdx stories to prettierignore
  .prettierignore
Due: none

feat(lit): lit 2.0.0 stable upgrade
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-grid/outline-column/outline-column.stories.ts
  src/components/base/outline-grid/outline-grid.stories.ts
  src/components/base/outline-heading/outline-heading.stories.ts
  src/components/base/outline-icon/outline-icon.stories.ts
  src/components/base/outline-image/outline-image.stories.ts
  src/components/base/outline-link/outline-link.stories.ts
  src/components/base/outline-modal/outline-modal.stories.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: updating to lit 2.0
  package.json
  yarn.lock
Due: prettier --write

feat: yarn upgrade
  yarn.lock
Due: none

Upgrade SVGO to v2, because v1 is deprecated
  package.json
Due: prettier --write

feat(outline-accordion): update to match smc implementation, splits out panel into sub component
  src/components/base/outline-accordion-panel/outline-accordion-panel.css
  src/components/base/outline-accordion-panel/outline-accordion-panel.stories.ts
  src/components/base/outline-accordion-panel/outline-accordion-panel.ts
  src/components/base/outline-accordion/outline-accordion.css
  src/components/base/outline-accordion/outline-accordion.stories.ts
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

fix: bump patch versions of storybook modules
  package.json
  yarn.lock
Due: prettier --write

chore: add autoprefixer to fix tailwindcss peer dep warning
  package.json
  yarn.lock
Due: prettier --write

chore: update commitlint
  package.json
  yarn.lock
Due: prettier --write

chore: update concurrently
  package.json
  yarn.lock
Due: prettier --write

fix(concurrently): adding kill-others to concurrently scripts
  package.json
  yarn.lock
Due: prettier --write

feat(outline-accordion): update to implementation, splits out panel into sub component
  src/components/base/outline-accordion-panel/outline-accordion-panel.css
  src/components/base/outline-accordion-panel/outline-accordion-panel.stories.ts
  src/components/base/outline-accordion-panel/outline-accordion-panel.ts
  src/components/base/outline-accordion/outline-accordion.css
  src/components/base/outline-accordion/outline-accordion.stories.ts
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

feat(outline-accordion): update to implementation
  src/components/base/outline-accordion-panel/outline-accordion-panel.css
  src/components/base/outline-accordion-panel/outline-accordion-panel.stories.ts
  src/components/base/outline-accordion-panel/outline-accordion-panel.ts
  src/components/base/outline-accordion/outline-accordion.css
  src/components/base/outline-accordion/outline-accordion.stories.ts
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
