Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix(css): adjusting borked css file from previous commit
  src/components/base/outline-accordion-panel/outline-accordion-panel.css
Due: none

fix(css): updating outline-card css
  src/components/base/outline-card/outline-card.css
Due: none

fix: simplify CSS on container
  src/components/base/outline-container/outline-container.css
Due: none

feat(container): refator of is-nested to x-padding; addition of y-padding
  outline.theme.css
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/components/base/outline-container/outline-container.css
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-container/outline-container.ts
  src/components/base/outline-element/notes.ts
  src/components/base/outline-grid/outline-grid.stories.ts
  src/components/base/outline-grid/outline-grid.ts
  src/components/base/outline-grid/test/outline-grid.test.ts
  src/components/base/outline-tabs/outline-tab-group/outline-tab-group.ts
Due: eslint --fix, prettier --write

fix: remove unitentional file
  src/components/base/outline-element/notes.ts
Due: eslint --fix, prettier --write

fix(fmt): formatting cleanup
  outline.theme.css
  src/components/base/outline-container/outline-container.stories.ts
Due: eslint --fix, prettier --write

fix(grid): adjust grid for new container options
  src/.storybook/storybook-styles.css
  src/components/base/outline-container/outline-container.ts
  src/components/base/outline-grid/outline-grid.css
  src/components/base/outline-grid/outline-grid.stories.ts
  src/components/base/outline-grid/outline-grid.ts
Due: eslint --fix, prettier --write

fix(tests): fixing failure in expected default output
  src/components/base/outline-grid/test/outline-grid.test.ts
Due: eslint --fix, prettier --write

fix(cleanup): adjust misused classes on containers
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/components/base/outline-tabs/outline-tab-group/outline-tab-group.ts
Due: eslint --fix, prettier --write

fix: adds return to setactive for if there is no id on the target
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

feat(youtube): make default video configurable
  outline.config.js
  src/components/base/outline-video-youtube/outline-video-youtube.stories.ts
Due: eslint --fix, prettier --write

fix(link): update attributes & examples
  src/components/base/outline-link/outline-link.stories.ts
  src/components/base/outline-link/outline-link.ts
Due: eslint --fix, prettier --write

fix(link): adjustments for attributes to align with refactored attribute names
  dev/index.html
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/components/base/outline-alert/outline-alert.stories.ts
  src/components/base/outline-list/outline-list.stories.ts
Due: eslint --fix, prettier --write

feat(prettier): remove all Storybook stories from Prettier processing
  .prettierignore
Due: none

fix(link): story formatting cleanup
  src/components/base/outline-link/outline-link.stories.ts
Due: eslint --fix, prettier --write

feat(tests): additional testing for outline-link
  src/components/base/outline-link/test/outside-link.test.ts
Due: eslint --fix, prettier --write

feat(link): additonal documentation * CSS Variables for outline-link
  outline.theme.css
  src/components/base/outline-link/config.ts
  src/components/base/outline-link/outline-link.css
  src/components/base/outline-link/outline-link.stories.ts
Due: eslint --fix, prettier --write

feat(controllers): adding slot controller
  src/components/controllers/slot-controller.ts
Due: eslint --fix, prettier --write

fix(controllers): adjusting slot controller
  src/components/controllers/slot-controller.ts
Due: eslint --fix, prettier --write

fix(css): fix for missing box-model on components
  scripts/styles.js
Due: eslint --fix, prettier --write

fix(css): adding comments to generated CSS
  scripts/styles.js
Due: eslint --fix, prettier --write

fix(cleanup): removing unused code from outline-element
  src/components/base/outline-element/outline-element.ts
Due: eslint --fix, prettier --write

fix: no need to install playwright with npx
  .github/workflows/build.yml
Due: none

fix: testing tests
  .github/workflows/build.yml
Due: none

fix(storybook): upgrade to 6.4.10
  package.json
  yarn.lock
Due: prettier --write

feat(commitlint): Updates to commit configuraiton.
  commitlint.config.js
Due: eslint --fix, prettier --write

feat(commitlint): ensure subject-case and subject-full-stop are optional
  commitlint.config.js
Due: eslint --fix, prettier --write

feat: remove prettier
  .lintstagedrc
  .prettierignore
  .prettierrc.json
  package.json
  scripts/resolve-tailwind-config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: remove mentions of Prettier
  CONTRIBUTING.md
  src/.storybook/stories/guides/helpful-commands.stories.mdx
  src/components/base/outline-icon/outline-icon.stories.mdx
  web-test-runner.config.mjs
Due: prettier --write

fix: remove prettier from CI
  .github/workflows/build.yml
Due: none

chore: missing space
  scripts/resolve-tailwind-config.js
Due: eslint --fix, prettier --write

feat: add CLI
  packages/cli/.circleci/config.yml
  packages/cli/.editorconfig
  packages/cli/.eslintignore
  packages/cli/.eslintrc
  packages/cli/.github/dependabot.yml
  packages/cli/.gitignore
  packages/cli/.mocharc.json
  packages/cli/LICENSE
  packages/cli/README.md
  packages/cli/bin/dev
  packages/cli/bin/dev.cmd
  packages/cli/bin/run
  packages/cli/bin/run.cmd
  packages/cli/package.json
  packages/cli/src/commands/hello/index.ts
  packages/cli/src/commands/hello/world.ts
  packages/cli/src/commands/new.ts
  packages/cli/src/index.ts
  packages/cli/test/commands/hello/index.test.ts
  packages/cli/test/commands/hello/world.test.ts
  packages/cli/test/commands/new.test.ts
  packages/cli/test/helpers/init.js
  packages/cli/test/tsconfig.json
  packages/cli/tsconfig.json
  packages/cli/yarn.lock
  yarn.lock
Due: eslint --fix, prettier --write

fix: add new command
  packages/cli/src/commands/new.ts
Due: eslint --fix, prettier --write

feat(storybook): upgrade to Storybook 6.4.17
  package.json
  yarn.lock
Due: prettier --write

fix: updated lock file
  yarn.lock
Due: none

feat(docs): Updated guides.
  src/.storybook/main.js
  src/.storybook/stories/guides/code-style-guide.stories.mdx
  src/.storybook/stories/guides/consumers/01-main.stories.mdx
  src/.storybook/stories/guides/development/99-additional-resources.stories.mdx
  src/.storybook/stories/guides/development/component-development/01-main.stories.mdx
  src/.storybook/stories/guides/development/component-development/02-class-declaration.stories.mdx
  src/.storybook/stories/guides/development/component-development/03-styles.stories.mdx
  src/.storybook/stories/guides/development/component-development/04-controllers.stories.mdx
  src/.storybook/stories/guides/development/component-development/05-render.stories.mdx
  src/.storybook/stories/guides/development/component-development/06-properties.stories.mdx
  src/.storybook/stories/guides/development/component-development/07-slots.stories.mdx
  src/.storybook/stories/guides/development/component-development/08-lifecycle-methods.stories.mdx
  src/.storybook/stories/guides/development/component-development/09-events.stories.mdx
  src/.storybook/stories/guides/development/component-development/10-utility-functions.stories.mdx
  src/.storybook/stories/guides/development/component-development/11-extending.stories.mdx
  src/.storybook/stories/guides/helpful-commands.stories.mdx
  src/.storybook/stories/guides/qa-uat/01-using-storybook.stories.mdx
  src/.storybook/stories/guides/tooling/01-tooling.stories.mdx
  src/.storybook/stories/guides/tooling/02-helpful-commands.stories.mdx
  src/.storybook/stories/guides/tooling/03-conventional-commits.stories.mdx
  src/.storybook/stories/guides/tooling/04-production-builds.stories.mdx
  src/.storybook/stories/guides/tooling/05-unit-testing.stories.mdx
  src/.storybook/stories/guides/tooling/99-contributing.stories.mdx
  src/.storybook/stories/guides/welcome.stories.mdx
Due: eslint --fix, prettier --write

fix(wca): Optimize scanning with wca.
  package.json
Due: prettier --write

fix: add the ability to customize the output location
  outline.config.js
  rollup.config.js
  scripts/styles.js
Due: eslint --fix, prettier --write
