Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write

feat: Update story to specify cke5
  packages/components/outline-core-styled-text/docs/outline-core-styled-text.stories.mdx
Due: none

fix: upgrade packages for node-18 to run properly
  .husky/pre-commit
  packages/documentation/outline-storybook/config/storybook.main.css
  yarn.lock
Due: none

fix: yarn fix
  packages/documentation/outline-storybook/config/storybook.main.css
Due: none

feat(slot-manager): Simplified logic dramatically.
  packages/controllers/slot-manager/src/slot-manager.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(slot-manager): Fixed version number.
  packages/controllers/slot-manager/package.json
Due: prettier --write

feat(slot-manager): Tweaked docs.
  packages/controllers/slot-manager/README.md
  packages/controllers/slot-manager/src/slot-manager.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(adopted-stylesheets): Tweaked docs.
  packages/controllers/adopted-stylesheets/README.md
  packages/controllers/adopted-stylesheets/src/adopted-stylesheets.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(adopted-stylesheets): Comment update.
  packages/controllers/adopted-stylesheets/src/adopted-stylesheets.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore(tooling): Updated yarn.lock.
  yarn.lock
Due: none

feat(adopted-stylesheets): Adjustments to README.
  package.json
  packages/controllers/adopted-stylesheets/README.md
  packages/controllers/adopted-stylesheets/package.json
Due: prettier --write

feat(adopted-stylesheets): Make passing `document` optional and the default.
  packages/controllers/adopted-stylesheets/README.md
  packages/controllers/adopted-stylesheets/src/adopted-stylesheets.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: Wip updates to ckeditor.
  .husky/pre-commit
  packages/components/outline-core-ckeditor/docs/outline-core-ckeditor.stories.mdx.null
  packages/components/outline-core-ckeditor/index.ts
  packages/components/outline-core-ckeditor/packages.json
  packages/components/outline-core-ckeditor/src/.ck.ck-content.global.css
  packages/components/outline-core-ckeditor/src/.ck.ck-content.global.scoped.css
  packages/components/outline-core-ckeditor/src/config.ts
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-table.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor.lightdom.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor.shared.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor.ts
  packages/components/outline-core-ckeditor/src/utilities/check-file-type.ts
  packages/components/outline-core-ckeditor/src/utilities/external-link-text.ts
  packages/components/outline-core-ckeditor/src/utilities/tooltip.ts
  packages/components/outline-core-ckeditor/src/utilities/wrap-last-word.ts
  packages/components/outline-core-ckeditor/tsconfig.build.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: Story now works, component is ready for development.
  packages/components/outline-core-ckeditor/docs/outline-core-ckeditor.stories.mdx
Due: none

feat: Update story style.
  packages/components/outline-core-ckeditor/docs/outline-core-ckeditor.mdx
  packages/components/outline-core-ckeditor/docs/outline-core-ckeditor.stories.mdx
Due: none

feat(adopted-stylesheets): Updated documentation.
  packages/controllers/adopted-stylesheets/README.md
Due: prettier --write

feat(tooling): Updated GitHub Actions.
  .github/workflows/build.yml
Due: none

feat(tooling): Update yarn config.
  .yarnrc
  .yarnrc.yml
Due: none

feat(tooling): Update Storybook.
  package.json
  yarn.lock
Due: prettier --write

chore(changeset): Adding Changeset.
  .changeset/shaggy-ducks-cheat.md
Due: prettier --write

chore(release): 02/15/2024 Release.
  .changeset/purple-crews-attack.md
  .changeset/shaggy-ducks-cheat.md
  .changeset/twenty-colts-serve.md
  packages/components/@deprecated/outline-form/CHANGELOG.md
  packages/components/@deprecated/outline-form/package.json
  packages/components/outline-core-accordion/package.json
  packages/components/outline-core-alert/CHANGELOG.md
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-breadcrumb/package.json
  packages/components/outline-core-button/CHANGELOG.md
  packages/components/outline-core-button/package.json
  packages/components/outline-core-card/package.json
  packages/components/outline-core-container/package.json
  packages/components/outline-core-form/package.json
  packages/components/outline-core-icon/package.json
  packages/components/outline-core-image/package.json
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
  packages/components/outline-core-list/package.json
  packages/components/outline-core-modal/package.json
  packages/components/outline-core-text/package.json
  packages/components/outline-core-youtube/package.json
  packages/controllers/adopted-stylesheets/CHANGELOG.md
  packages/controllers/adopted-stylesheets/package.json
  packages/documentation/outline-docs/CHANGELOG.md
  packages/documentation/outline-docs/package.json
  packages/documentation/outline-examples/CHANGELOG.md
  packages/documentation/outline-examples/package.json
  packages/documentation/outline-storybook/CHANGELOG.md
  packages/documentation/outline-storybook/package.json
  packages/outline-core/CHANGELOG.md
  packages/outline-core/package.json
  packages/outline-templates/CHANGELOG.md
  packages/outline-templates/package.json
  packages/tools/outline-cli/CHANGELOG.md
  packages/tools/outline-cli/package.json
  packages/tools/outline-config/CHANGELOG.md
  packages/tools/outline-config/package.json
Due: prettier --write

chore(diff): Update yarn.lock.
  yarn.lock
Due: none

feat(actions): Update installations/setup.
  .github/workflows/build.yml
Due: none

feat(actions): Use local yarn version.
  .github/workflows/build.yml
Due: none

feat(actions): Update step ordering.
  .github/workflows/build.yml
Due: none

feat(actions): Switching to node:lts container image for testing.
  .github/workflows/build.yml
Due: none

feat(tooling): fix for broken deps and linting.
  .eslintignore
  packages/components/outline-core-accordion/src/outline-core-accordion.ts
  packages/components/outline-core-alert/src/outline-core-alert.ts
  packages/components/outline-core-breadcrumb/src/outline-core-breadcrumb.ts
  packages/components/outline-core-button/package.json
  packages/components/outline-core-card/src/outline-core-card.ts
  packages/components/outline-core-container/src/outline-core-container.ts
  packages/components/outline-core-form/src/outline-core-form.ts
  packages/components/outline-core-icon/src/outline-core-icon.ts
  packages/components/outline-core-image/src/outline-core-image.ts
  packages/components/outline-core-list/src/outline-core-list.ts
  packages/components/outline-core-modal/src/outline-core-modal.ts
  packages/components/outline-core-text/src/outline-core-text.ts
  packages/components/outline-core-youtube/src/outline-core-youtube.ts
  tsconfig.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(tooling): Adjusting for storybook build and css setup.
  .storybook/storybook.css
  package.json
  packages/components/outline-core-accordion/package.json
  packages/components/outline-core-alert/README.md
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-alert/src/outline-core-alert.ts
  packages/components/outline-core-breadcrumb/package.json
  packages/components/outline-core-button/docs/outline-core-button.mdx
  packages/components/outline-core-button/index.ts
  packages/components/outline-core-button/package.json
  packages/components/outline-core-button/src/css-variables/vars-default.css
  packages/components/outline-core-button/src/css-variables/vars-link.css
  packages/components/outline-core-button/src/css-variables/vars-primary.css
  packages/components/outline-core-button/src/css-variables/vars-secondary.css
  packages/components/outline-core-button/src/css-variables/vars-tertiary.css
  packages/components/outline-core-button/src/outline-core-button.encapsulated.css
  packages/components/outline-core-button/src/outline-core-button.global.css
  packages/components/outline-core-button/src/outline-core-button.ts
  packages/components/outline-core-card/package.json
  packages/components/outline-core-container/package.json
  packages/components/outline-core-form/package.json
  packages/components/outline-core-icon/package.json
  packages/components/outline-core-image/package.json
  packages/components/outline-core-link/docs/outline-core-link.mdx
  packages/components/outline-core-link/package.json
  packages/components/outline-core-link/src/outline-core-link.ts
  packages/components/outline-core-link/yarn.lock
  packages/components/outline-core-list/package.json
  packages/components/outline-core-modal/package.json
  packages/components/outline-core-text/package.json
  packages/components/outline-core-youtube/package.json
  packages/controllers/adopted-stylesheets/README.md
  packages/controllers/adopted-stylesheets/index.ts
  packages/controllers/adopted-stylesheets/package.json
  yarn.lock
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(tooling): Refactor for many package deps.
  packages/components/outline-core-accordion/package.json
  packages/components/outline-core-alert/CHANGELOG.md
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-alert/src/outline-core-alert.ts
  packages/components/outline-core-breadcrumb/package.json
  packages/components/outline-core-button/CHANGELOG.md
  packages/components/outline-core-button/package.json
  packages/components/outline-core-card/package.json
  packages/components/outline-core-container/package.json
  packages/components/outline-core-form/package.json
  packages/components/outline-core-icon/package.json
  packages/components/outline-core-image/package.json
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
  packages/components/outline-core-link/yarn.lock
  packages/components/outline-core-list/package.json
  packages/components/outline-core-modal/package.json
  packages/components/outline-core-text/package.json
  packages/components/outline-core-youtube/package.json
  packages/controllers/adopted-stylesheets/CHANGELOG.md
  packages/controllers/adopted-stylesheets/package.json
  vite.config.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(tooling): Adjusting action.
  .github/workflows/build.yml
Due: none

feat(tooling): Remove need for `rsync` call.
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(tooling): Remove comments.
  packages/components/outline-core-alert/src/outline-core-alert.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(styles): Adjust CSS setup.
  outline.theme.css
  packages/components/outline-core-alert/src/outline-core-alert.ts
  packages/components/outline-core-alert/src/style/outline-core-alert.encapsulated.css
  packages/components/outline-core-link/src/outline-core-link.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(outline-alert): Prepare for initial release.
  packages/components/outline-core-alert/package.json
Due: prettier --write

fix(changeset): Adding changesetl.
  .changeset/quiet-pens-count.md
Due: prettier --write

chore(release): 02/17/2024 Release.
  .changeset/quiet-pens-count.md
  packages/components/outline-core-accordion/package.json
  packages/components/outline-core-alert/CHANGELOG.md
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-breadcrumb/package.json
  packages/components/outline-core-button/CHANGELOG.md
  packages/components/outline-core-button/package.json
  packages/components/outline-core-card/package.json
  packages/components/outline-core-container/package.json
  packages/components/outline-core-form/package.json
  packages/components/outline-core-icon/package.json
  packages/components/outline-core-image/package.json
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
  packages/components/outline-core-list/package.json
  packages/components/outline-core-modal/package.json
  packages/components/outline-core-text/package.json
  packages/components/outline-core-youtube/package.json
  packages/controllers/adopted-stylesheets/CHANGELOG.md
  packages/controllers/adopted-stylesheets/package.json
Due: prettier --write

fix: bread
  packages/components/@deprecated/outline-icon/src/libraries/library.system.ts
  packages/components/outline-core-breadcrumb/src/outline-core-breadcrumb.css
  packages/components/outline-core-breadcrumb/src/outline-core-breadcrumb.lightdom.css
  packages/components/outline-core-breadcrumb/src/outline-core-breadcrumb.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix: update style sheets, a11y
  .husky/pre-commit
  .husky/prepare-commit-msg
  packages/components/outline-core-breadcrumb/docs/outline-core-breadcrumb.stories.mdx
  packages/components/outline-core-breadcrumb/src/outline-core-breadcrumb.encapsulated.css
  packages/components/outline-core-breadcrumb/src/outline-core-breadcrumb.global.css
  packages/components/outline-core-breadcrumb/src/outline-core-breadcrumb.ts
  yarn.lock
Due: eslint --rule 'no-console: error' --fix, prettier --write

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
