Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write"
  ],
  "*.{json,md}": ["prettier --write"]
}

Updates tooltip
  packages/components/outline-core-ckeditor/src/utilities/tooltip.css
  packages/components/outline-core-ckeditor/src/utilities/tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

Updates dependencies.
  packages/components/outline-core-ckeditor/packages.json
Due: prettier --write

Updates storybook import so it, you know, works.
  packages/components/outline-core-ckeditor/docs/outline-core-ckeditor.mdx
Due: none

Updates CSS. We'll begin slowly processing new css into our new format.
  packages/components/outline-core-ckeditor/src/.ck.ck-content.global.scoped.css
  packages/components/outline-core-ckeditor/src/deprecated/.ck.ck-content.global.css
  packages/components/outline-core-ckeditor/src/deprecated/outline-core-ckeditor-table.css
  packages/components/outline-core-ckeditor/src/deprecated/outline-core-ckeditor.css
  packages/components/outline-core-ckeditor/src/deprecated/outline-core-ckeditor.lightdom.css
  packages/components/outline-core-ckeditor/src/deprecated/outline-core-ckeditor.shared.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-imports.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-starterkit.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-vars.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

Creates starterkit.
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-starterkit.css
Due: none

css vars games.
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-starterkit.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-vars.css
Due: none

feat(tooling): Updating eslint and commitlint config.
  .eslintignore
  .eslintrc.json
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore(release): 02/23/2024 Release.
  packages/components/outline-core-accordion/package.json
  packages/components/outline-core-alert/CHANGELOG.md
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-breadcrumb/package.json
  packages/components/outline-core-button/CHANGELOG.md
  packages/components/outline-core-button/package.json
  packages/components/outline-core-card/package.json
  packages/components/outline-core-container/package.json
  packages/components/outline-core-form/package.json
  packages/components/outline-core-icon/package.json
  packages/components/outline-core-image/package.json
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
  packages/components/outline-core-list/package.json
  packages/components/outline-core-modal/package.json
  packages/components/outline-core-text/package.json
  packages/components/outline-core-youtube/package.json
  packages/controllers/adopted-stylesheets/CHANGELOG.md
  packages/controllers/adopted-stylesheets/package.json
  packages/documentation/outline-docs/CHANGELOG.md
  packages/documentation/outline-docs/package.json
  packages/outline-core/CHANGELOG.md
  packages/outline-core/package.json
  packages/tools/outline-config/CHANGELOG.md
  packages/tools/outline-config/package.json
  packages/tools/outline-tokens/CHANGELOG.md
  packages/tools/outline-tokens/package.json
Due: prettier --write

feat(outline-core-link): Updated tooling and build for component.
  .changeset/kind-singers-tease.md
  package.json
  packages/components/outline-core-link/index.html
  packages/components/outline-core-link/package.json
  packages/components/outline-core-link/src/outline-core-link.ts
  packages/components/outline-core-link/tsconfig.build.json
  packages/components/outline-core-link/vite.config.js
  packages/components/outline-core-link/yarn.lock
  tsconfig.build.json
  tsconfig.json
  vite.config.js
  yarn.lock
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore(release): 02/26/2024 Release.
  .changeset/kind-singers-tease.md
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

vars update.
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-vars.css
Due: none

Updates vars file.
  outline.theme.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-vars.css
Due: none

Look Mr. Frodo, more vars updates.
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-starterkit.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-vars.css
Due: none

Look mr. frodo, more updates.
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor-starterkit.css
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

Blocked on tooling.
  packages/components/outline-core-ckeditor/src/outline-core-ckeditor.ts
  yarn.lock
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(outline-core-link): Updated build configurations.
  packages/components/outline-core-link/index.html
  packages/components/outline-core-link/package.json
Due: prettier --write

chore(release): 02/27/2024 Release 1 for `outline-core-link`.
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
Due: prettier --write

fix(outline-core-link): Fix for copied CSS path.
  packages/components/outline-core-link/package.json
Due: prettier --write

chore(release): 02/27/2024 Release 2 for `outline-core-link`.
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
Due: prettier --write

fix(dependency): Fixing typos, and default for HTMLElementTagNameMap comment.
  packages/components/outline-core-accordion/src/outline-core-accordion.ts
  packages/components/outline-core-alert/src/outline-core-alert.ts
  packages/components/outline-core-breadcrumb/src/outline-core-breadcrumb.ts
  packages/components/outline-core-card/src/outline-core-card.ts
  packages/components/outline-core-container/src/outline-core-container.ts
  packages/components/outline-core-form/src/outline-core-form.ts
  packages/components/outline-core-icon/src/outline-core-icon.ts
  packages/components/outline-core-image/src/outline-core-image.ts
  packages/components/outline-core-link/src/outline-core-link.ts
  packages/components/outline-core-list/src/outline-core-list.ts
  packages/components/outline-core-modal/src/outline-core-modal.ts
  packages/components/outline-core-text/src/outline-core-text.ts
  packages/components/outline-core-youtube/src/outline-core-youtube.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(dependency): Tweaks to LICENSE files per recommendations.
  packages/components/outline-core-link/LICENSE.md
  packages/controllers/adopted-stylesheets/LICENSE.md
Due: prettier --write

fix(dependency): Updates to index.html samples and remote vite logo loading.
  packages/components/outline-core-link/index.html
  packages/controllers/adopted-stylesheets/index.html
Due: none

fix(dependency): Updates to index.html samples and remote vite logo loading.
  packages/outline-core/index.html
Due: none

fix(docs): Minor updates to styling documentation.
  packages/documentation/outline-docs/src/guides/development/component-development/03-styles.mdx
Due: none

fix(dependency): Update to SRI integrity hash.
  packages/components/outline-core-link/index.html
  packages/controllers/adopted-stylesheets/index.html
  packages/outline-core/index.html
Due: none

fix(build): Tweaks to bundle script for error reporting.
  scripts/bundle.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(build): Updating ignored files; Adding style.d.ts to `outline-core-link`.
  .gitignore
  packages/components/outline-core-link/src/styles.d.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(build): Updating default .d.ts pattern.
  .gitignore
  packages/components/outline-core-link/src/component.d.ts
  packages/components/outline-core-link/src/styles.d.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(build): Fixing issues with Storybook/Vite dev mode.
  .storybook/main.js
  package.json
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-link/package.json
  packages/controllers/adopted-stylesheets/package.json
  yarn.lock
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore(release): 03/08/2024 Release.
  packages/components/outline-core-accordion/package.json
  packages/components/outline-core-alert/CHANGELOG.md
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-breadcrumb/package.json
  packages/components/outline-core-card/package.json
  packages/components/outline-core-container/package.json
  packages/components/outline-core-form/package.json
  packages/components/outline-core-icon/package.json
  packages/components/outline-core-image/package.json
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
  packages/components/outline-core-list/package.json
  packages/components/outline-core-modal/package.json
  packages/components/outline-core-text/package.json
  packages/components/outline-core-youtube/package.json
  packages/controllers/adopted-stylesheets/CHANGELOG.md
  packages/controllers/adopted-stylesheets/package.json
Due: prettier --write

fix(build): Adjusting builds to have correct files.
  .github/workflows/build.yml
  packages/components/outline-core-alert/LICENSE.md
  packages/components/outline-core-alert/index.html
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-alert/src/component.d.ts
  packages/components/outline-core-alert/vite.config.js
  packages/components/outline-core-link/package.json
  packages/controllers/adopted-stylesheets/package.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore(release): 03/08/2024 Release 2.
  packages/components/outline-core-accordion/package.json
  packages/components/outline-core-alert/CHANGELOG.md
  packages/components/outline-core-alert/package.json
  packages/components/outline-core-breadcrumb/package.json
  packages/components/outline-core-card/package.json
  packages/components/outline-core-container/package.json
  packages/components/outline-core-form/package.json
  packages/components/outline-core-icon/package.json
  packages/components/outline-core-image/package.json
  packages/components/outline-core-link/CHANGELOG.md
  packages/components/outline-core-link/package.json
  packages/components/outline-core-list/package.json
  packages/components/outline-core-modal/package.json
  packages/components/outline-core-text/package.json
  packages/components/outline-core-youtube/package.json
  packages/controllers/adopted-stylesheets/CHANGELOG.md
  packages/controllers/adopted-stylesheets/package.json
Due: prettier --write

fix: simplify adopted stylesheets controller
  packages/controllers/adopted-stylesheets/src/adopted-stylesheets.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs: Add Phase2 team members section to README with internal resources
  README.md
Due: prettier --write
