Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

docs: 41: Update how we show the booleans.
  src/components/base/outline-alert/outline-alert.stories.ts
Due: eslint --fix, prettier --write

test: 41: Simple slotting test for outline alert.
  src/components/base/outline-alert/test/outline-alert.test.ts
Due: eslint --fix, prettier --write

chore: 41: Add interface for alert element.
  src/components/base/outline-alert/outline-alert.ts
Due: eslint --fix, prettier --write

chore: prettier...
  rollup.config.js
Due: eslint --fix, prettier --write

feat(breadcrumb): getting the array of links to work
  src/components/base/outline-breadcrumb/config.ts
  src/components/base/outline-breadcrumb/outline-breadcrumb.stories.ts
  src/components/base/outline-breadcrumb/outline-breadcrumb.ts
  src/components/base/outline-breadcrumb/test/outside-breadcrumb.test.ts
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.ts
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
  src/components/base/outline-breadcrumbs/test/outside-breadcrumbs.test.ts
Due: eslint --fix, prettier --write

feat(breadcrumb): removing breadcrumbs to move to own branch
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.ts
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
  src/components/base/outline-breadcrumbs/test/outside-breadcrumbs.test.ts
Due: eslint --fix, prettier --write

feat(breadcrumb): starting on a proper branch
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.ts
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
  src/components/base/outline-breadcrumbs/test/outside-breadcrumbs.test.ts
Due: eslint --fix, prettier --write

chore: 45: Reduce copy & paste in type definition for modal.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

chore: 41: Reduce copy & paste in type definition for enumerable properties.
  src/components/base/outline-alert/outline-alert.ts
Due: eslint --fix, prettier --write

feat(list): first pass at list component
  src/components/base/outline-list/outline-list.css
  src/components/base/outline-list/outline-list.stories.ts
  src/components/base/outline-list/outline-list.ts
Due: eslint --fix, prettier --write

chore(tooltip): accessibility and style updates
  src/components/base/outline-tooltip/outline-tooltip.css
  src/components/base/outline-tooltip/outline-tooltip.stories.ts
  src/components/base/outline-tooltip/outline-tooltip.ts
Due: eslint --fix, prettier --write

chore(accordion): docs
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

chore(tooltip): adjust style for accessibility
  src/components/base/outline-tooltip/outline-tooltip.css
  src/components/base/outline-tooltip/outline-tooltip.stories.ts
  src/components/base/outline-tooltip/outline-tooltip.ts
Due: eslint --fix, prettier --write

chore(tooltip): remove padding on positional classses
  src/components/base/outline-tooltip/outline-tooltip.css
Due: none

chore(tooltip): cleanup
  src/components/base/outline-tooltip/outline-tooltip.css
Due: none

chore(tooltip): add esc key functionality
  src/components/base/outline-tooltip/outline-tooltip.ts
Due: eslint --fix, prettier --write

style(accordion): reset styles to use visibilty with accesibility
  src/components/base/outline-tooltip/outline-tooltip.css
Due: none

chore(button-update): add ifDefined to tip
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

chore(button-update): remove tabindex property
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

fix: fixes for usages of outline-header
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/components/base/outline-card/outline-card.stories.ts
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-grid/outline-column/outline-column.stories.ts
  src/components/base/outline-grid/outline-grid.stories.ts
  src/components/base/outline-heading/outline-heading.stories.ts
  src/imports.d.ts
Due: eslint --fix, prettier --write

feat: upgrade Storybook to 6.3.6
  package.json
  yarn.lock
Due: prettier --write

chore(button-update): remove tooltip and functionality, click/keyup props
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-button/outline-button.ts
  src/components/base/outline-tooltip/outline-tooltip.css
  src/components/base/outline-tooltip/outline-tooltip.stories.ts
  src/components/base/outline-tooltip/outline-tooltip.ts
Due: eslint --fix, prettier --write

chore(button-update): cleanup unused import
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

chore(tooltip): cleanup
  src/components/base/outline-tooltip/outline-tooltip.stories.ts
  src/components/base/outline-tooltip/outline-tooltip.ts
Due: eslint --fix, prettier --write

chore(tooltip): r/f for accessibilty on buttons, add styles, update stories
  src/components/base/outline-tooltip/outline-tooltip.css
  src/components/base/outline-tooltip/outline-tooltip.stories.ts
  src/components/base/outline-tooltip/outline-tooltip.ts
Due: eslint --fix, prettier --write

chore(button): remove SB testing funcs, add onClick/onKeyUP props back
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

feat(button-with-tooltip): add builtin tooltip/disabled info functionality to button
  src/components/base/outline-button/outline-button.css
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

docs(list): update docs
  src/components/base/outline-list/outline-list.stories.ts
  src/components/base/outline-list/outline-list.ts
Due: eslint --fix, prettier --write

feat(breadcrumbs): getting css working
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.mdx
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.ts
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
Due: eslint --fix, prettier --write

feat(breadcrumbs): fixing the colors
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
Due: none

feat(breadcrumbs): adding an active class style
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
Due: none

feat(breadcrumbs): trying to get an icon working
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
Due: eslint --fix, prettier --write

feat(bredcrumbs): styling the active, trying to get ::after working
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.ts
Due: eslint --fix, prettier --write

feat(breadcrumbs): running lint and fmt
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.stories.mdx
Due: none

style(button-update): cleanup duplicate styles
  src/components/base/outline-button/outline-button.css
Due: none

style(button-update): linter error
  src/components/base/outline-button/outline-button.css
Due: none

feat: adding Chromatic setup
  .github/workflows/chromatic.yml
  package.json
  yarn.lock
Due: prettier --write

fix: adjust the buildScriptName for Chromatic
  .github/workflows/chromatic.yml
Due: none

fix: revert to actions/checkout@v1
  .github/workflows/chromatic.yml
Due: none

fix: change chromatic builds to pull_request
  .github/workflows/chromatic.yml
Due: none
