Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix: add publishconfig to package.json for publishing to devcloud
  package.json
Due: prettier --write

feat(storybook): upgrade to 6.4.8
  package.json
  yarn.lock
Due: prettier --write

feat(styles): fixes and cleanup
  dev/index.html
  package.json
  rollup.config.js
  scripts/styles.js
  src/.storybook/storybook-styles.css
Due: eslint --fix, prettier --write

fix(deps): remove chromatic causing json-schema warnings
  package.json
  yarn.lock
Due: prettier --write

feat(styles): script fixes
  package.json
Due: prettier --write

fix(storybook): change port for storybook dev
  package.json
Due: prettier --write

feat(fouc): enhancements for styles script
  scripts/styles.js
Due: eslint --fix, prettier --write

fix(fouc): rename function call
  scripts/styles.js
Due: eslint --fix, prettier --write

feat(storybook): upgrade to Storybook 6.4.9
  package.json
  yarn.lock
Due: prettier --write

fix(deprecation): update storybook static directory declaration
  package.json
  src/.storybook/main.js
Due: eslint --fix, prettier --write

feat: yarn upgrade to latest version
  package.json
  yarn.lock
Due: prettier --write

feat: update purge to content
  tailwind.config.js
Due: eslint --fix, prettier --write

fix(release): update to default releaserc config
  .releaserc
Due: none

feat(swatches): adding outline-swatch and outline-swatch-set
  src/components/base/outline-swatch-set/outline-swatch-set.css
  src/components/base/outline-swatch-set/outline-swatch-set.stories.mdx
  src/components/base/outline-swatch-set/outline-swatch-set.ts
  src/components/base/outline-swatch/outline-swatch.css
  src/components/base/outline-swatch/outline-swatch.stories.mdx
  src/components/base/outline-swatch/outline-swatch.ts
Due: eslint --fix, prettier --write

feat(swatches): adjusting default settings for swatches
  src/.storybook/stories/protons/colors.stories.mdx
  src/components/base/outline-swatch-set/outline-swatch-set.stories.mdx
  src/components/base/outline-swatch-set/outline-swatch-set.ts
  src/components/base/outline-swatch/outline-swatch.stories.mdx
  src/components/base/outline-swatch/outline-swatch.ts
Due: eslint --fix, prettier --write

feat(storybook): initial reorganization of categories in Storybook
  src/.storybook/preview.js
  src/.storybook/stories/protons/spacing.stories.mdx
  src/.storybook/stories/protons/typefaces.stories.mdx
  src/components/base/outline-alert/outline-alert.stories.ts
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-card/outline-card.stories.ts
  src/components/base/outline-heading/outline-heading.stories.ts
  src/components/base/outline-icon/outline-icon.stories.mdx
  src/components/base/outline-image/outline-image.stories.ts
  src/components/base/outline-link/outline-link.stories.ts
  src/components/base/outline-list/outline-list.stories.ts
  src/components/base/outline-modal/outline-modal.stories.ts
  src/components/base/outline-video-vimeo/outline-video-vimeo.stories.ts
  src/components/base/outline-video-youtube/outline-video-youtube.stories.ts
Due: eslint --fix, prettier --write

feat(code-block): adding outline-code-block component
  src/components/base/outline-code-block/outline-code-block.css
  src/components/base/outline-code-block/outline-code-block.stories.mdx
  src/components/base/outline-code-block/outline-code-block.ts
  src/components/base/outline-code-block/prism.js
Due: eslint --fix, prettier --write

fix(code-block): fixing expected ts error
  src/components/base/outline-code-block/outline-code-block.ts
Due: eslint --fix, prettier --write

feat(storybook): reorganized stories for documentation
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/.storybook/stories/guides/code-style-guide.stories.mdx
  src/.storybook/stories/guides/contributing.stories.mdx
  src/.storybook/stories/guides/conventional-commits.stories.mdx
  src/.storybook/stories/guides/helpful-commands.stories.mdx
  src/.storybook/stories/guides/production-builds.stories.mdx
  src/.storybook/stories/guides/unit-testing.stories.mdx
Due: none

fix: remove improper reference
  src/.storybook/stories/guides/unit-testing.stories.mdx
Due: none

fix(tests): update expected output for outline-breadcrumb
  src/components/base/outline-breadcrumbs/test/outside-breadcrumbs.test.ts
Due: eslint --fix, prettier --write

fix(tests): update tests for outline-button
  src/components/base/outline-button/test/outline-button.test.ts
Due: eslint --fix, prettier --write

fix(tests): enable tests in GitHub Actions again
  .github/workflows/build.yml
Due: none

fix(tests): fix for playwright brower installation
  .github/workflows/build.yml
Due: none

fix(tests): move test to build-dist job
  .github/workflows/build.yml
Due: none

feat(tabs): adding outline-tabs
  src/components/base/outline-accordion-panel/outline-accordion-panel.css
  src/components/base/outline-tabs/outline-tab-group/outline-tab-group.css
  src/components/base/outline-tabs/outline-tab-group/outline-tab-group.stories.ts
  src/components/base/outline-tabs/outline-tab-group/outline-tab-group.ts
  src/components/base/outline-tabs/outline-tab-panel/outline-tab-panel.ts
  src/components/base/outline-tabs/outline-tab/outline-tab.css
  src/components/base/outline-tabs/outline-tab/outline-tab.ts
  src/components/controllers/mobile-controller.ts
Due: eslint --fix, prettier --write

fix: remove unused eleventy configuration
  .eleventy.cjs
Due: none

fix: install playwright + its dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: refactors container to remove reflected option from is nested property and default to false
  src/components/base/outline-container/outline-container.ts
Due: eslint --fix, prettier --write

fix(outline-container): handle booleans
  src/components/base/outline-container/outline-container.css
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-container/outline-container.ts
Due: eslint --fix, prettier --write

fix: update gitpod setup with storybook port 6042
  .gitpod.yml
Due: none

fix(outline-container): remove trailing comma in CSS
  src/components/base/outline-container/outline-container.css
Due: none

feat(move-readme-to-readme): separate 'run' and 'contribute' between readme and contributing
  CONTRIBUTING.md
  README.md
Due: prettier --write

fix(storybook): fix deprecations for @storybook/addon-docs/blocks
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/.storybook/stories/documentation/welcome.stories.mdx
  src/.storybook/stories/guides/contributing.stories.mdx
  src/.storybook/stories/protons/spacing.stories.mdx
  src/.storybook/stories/protons/typefaces.stories.mdx
  src/components/base/outline-icon/outline-icon.stories.mdx
Due: none

fix(storybook): fix deprecations for argType.defaultValue
  src/components/base/outline-accordion/outline-accordion.stories.ts
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-grid/outline-column/outline-column.stories.ts
Due: eslint --fix, prettier --write

fix(storybook): fix deprecations for argType.control.options
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-card/outline-card.stories.ts
  src/components/base/outline-heading/outline-heading.stories.ts
  src/components/base/outline-link/config.ts
  src/components/base/outline-list/outline-list.stories.ts
  src/components/base/outline-tabs/outline-tab-group/outline-tab-group.stories.ts
Due: eslint --fix, prettier --write

fix(guides): removing contributing.stories.mdx in favor of updated README and CONTRIBUTING.md files
  src/.storybook/stories/guides/contributing.stories.mdx
Due: none

fix: cleanup for default colors in .css files
  src/components/base/outline-accordion-panel/outline-accordion-panel.css
  src/components/base/outline-button/outline-button.css
  src/components/base/outline-link/outline-link.css
Due: none
