Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(gitlab): disable CI publish; update default node version
  .gitlab-ci.yml
  .nvmrc
Due: none

feat: adding outline-container component
  src/.storybook/storybook-styles.css
  src/components/base/outline-container/config.ts
  src/components/base/outline-container/outline-container.css
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-container/outline-container.ts
  src/components/base/outline-element/utils/enums.ts
  src/components/base/outline-element/utils/types.ts
  src/components/base/outline-element/utils/utils.ts
Due: eslint --fix, prettier --write

feat(storybook): allowing for leak-free global utility classes
  .gitignore
  package.json
  src/.storybook/storybook-styles.css
  src/.storybook/storybook.css
  src/.storybook/tailwind.css
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-container/outline-container.ts
  src/global/_tailwind.css
  src/global/global.css
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

refactor: formatting
  scripts/generate-tw-safelist.js
  scripts/resolve-tailwind-config.js
Due: eslint --fix, prettier --write

feat: outline button
  src/components/base/outline-button/outline-button.css
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-button/outline-button.tsx
  src/resolved-tailwind-config.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: formatting
  scripts/generate-tw-safelist.js
  scripts/resolve-tailwind-config.js
  src/resolved-tailwind-config.ts
Due: eslint --fix, prettier --write

feat: outline-button
  src/components/base/outline-button/outline-button.css
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-button/outline-button.tsx
Due: eslint --fix, prettier --write

docs: updating readme.md; adding contributing.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

refactor: rename to ts extension
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

feat(grid): adding grid/column components
  outline.theme.css
  src/.storybook/preview.js
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-grid/outline-column/outline-column.css
  src/components/base/outline-grid/outline-column/outline-column.stories.ts
  src/components/base/outline-grid/outline-column/outline-column.ts
  src/components/base/outline-grid/outline-grid.css
  src/components/base/outline-grid/outline-grid.stories.ts
  src/components/base/outline-grid/outline-grid.ts
  src/resolved-tailwind-config.ts
  src/safelist.txt
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: linter/prettier fixes
  scripts/generate-tw-safelist.js
  scripts/resolve-tailwind-config.js
  src/components/base/outline-icon/outline-icon.ts
Due: eslint --fix, prettier --write

feat: outline-headng
  src/components/base/outline-heading/config.ts
  src/components/base/outline-heading/outline-heading.css
  src/components/base/outline-heading/outline-heading.stories.ts
  src/components/base/outline-heading/outline-heading.ts
Due: eslint --fix, prettier --write

refactor: rename classes and selectors to BEM like syntax
  src/components/base/outline-heading/outline-heading.css
  src/components/base/outline-heading/outline-heading.ts
Due: eslint --fix, prettier --write

refactor: remove unused type
  src/components/base/outline-heading/config.ts
Due: eslint --fix, prettier --write

feat: add jarallax
  package.json
Due: prettier --write

feat: outline-image
  src/components/base/outline-image/outline-image.css
  src/components/base/outline-image/outline-image.stories.ts
  src/components/base/outline-image/outline-image.ts
Due: eslint --fix, prettier --write

refactor: formatting
  scripts/generate-tw-safelist.js
  scripts/resolve-tailwind-config.js
  src/components/base/outline-icon/outline-icon.ts
  src/resolved-tailwind-config.ts
Due: eslint --fix, prettier --write

feat: outline-card
  src/components/base/outline-card/outline-card.css
  src/components/base/outline-card/outline-card.stories.ts
  src/components/base/outline-card/outline-card.ts
Due: eslint --fix, prettier --write

refactor: remove unused import
  src/components/base/outline-card/outline-card.stories.ts
Due: eslint --fix, prettier --write

refactor: change base class, add js docs for component, handle caption slot with state
  src/components/base/outline-image/outline-image.stories.ts
  src/components/base/outline-image/outline-image.ts
Due: eslint --fix, prettier --write

refactor: change base class
  src/components/base/outline-card/outline-card.ts
Due: eslint --fix, prettier --write

chore(deps): upgrading deps & formatting
  scripts/generate-tw-safelist.js
  scripts/resolve-tailwind-config.js
  src/components/base/outline-icon/outline-icon.ts
  src/resolved-tailwind-config.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: ensure proper lit usage, cleanup
  .eslintrc.json
  .gitignore
  package.json
  src/components/base/outline-card/outline-card.ts
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-element/outline-element.ts
  src/components/base/outline-grid/outline-column/outline-column.stories.ts
  src/components/base/outline-grid/outline-grid.stories.ts
  src/components/base/outline-grid/outline-grid.ts
  src/components/base/outline-heading/outline-heading.stories.ts
  src/components/base/outline-image/outline-image.stories.ts
  src/components/base/outline-link/outline-link.stories.ts
  src/components/base/outline-link/outline-link.ts
  src/components/examples/class-extension/double-extended-element/double-extended-element.ts
  src/components/examples/class-extension/extended-element/extended-element.ts
  src/components/examples/class-extension/my-element/my-element.ts
  src/resolved-tailwind-config.ts
  src/safelist.txt
  yarn.lock
Due: eslint --fix, prettier --write

feat(docs): documentation & minor refactors
  src/.storybook/main.js
  src/.storybook/stories/assets/logos/lit.png
  src/.storybook/stories/assets/logos/lit.svg
  src/.storybook/stories/documentation/contributing.stories.mdx
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/.storybook/storybook-styles.css
  src/.storybook/tailwind.css
  src/components/base/outline-card/outline-card.stories.ts
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-grid/outline-column/outline-column.stories.ts
  src/components/base/outline-grid/outline-grid.stories.ts
  src/components/base/outline-grid/outline-grid.ts
  src/components/base/outline-heading/outline-heading.css
  src/components/base/outline-heading/outline-heading.ts
  src/components/base/outline-image/outline-image.stories.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

docs: updated intoductory stories
  CONTRIBUTING.md
  src/.storybook/main.js
  src/.storybook/stories/documentation/contributing.stories.mdx
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/.storybook/stories/documentation/welcome.stories.mdx
Due: eslint --fix, prettier --write

fix: fixes for container and grid
  src/.storybook/stories/assets/logos/lit.svg
  src/.storybook/stories/documentation/contributing.stories.mdx
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/components/base/outline-container/outline-container.css
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-container/outline-container.ts
  src/components/base/outline-grid/outline-grid.ts
  src/components/base/outline-heading/outline-heading.css
Due: eslint --fix, prettier --write

fix: adjusting class extension examples
  src/components/examples/class-extension/double-extended-element/double-extended-element.ts
  src/components/examples/class-extension/extended-element/extended-element.ts
  src/components/examples/class-extension/my-element/my-element.ts
Due: eslint --fix, prettier --write

docs: updating contributing documentation
  CONTRIBUTING.md
  src/.storybook/stories/documentation/contributing.stories.mdx
Due: prettier --write

docs: adding code of conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  src/.storybook/stories/documentation/contributing.stories.mdx
Due: prettier --write

fix: correcting link to code of conduct
  src/.storybook/stories/documentation/contributing.stories.mdx
Due: none

fix: formatting and re-correcting link to code of conduct
  CONTRIBUTING.md
  src/.storybook/stories/documentation/contributing.stories.mdx
Due: prettier --write

fix: typo correction of mailto link
  CODE_OF_CONDUCT.md
Due: prettier --write

fix: better fix for markdown link
  CODE_OF_CONDUCT.md
Due: prettier --write

chore(deps): upgrade Storybook to 6.3.1
  package.json
  yarn.lock
Due: prettier --write

fix: fixing svg support in typescript
  src/imports.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: refactor for rollup and tsc builds
  .gitlab-ci.yml
  .nvmrc
  package.json
  rollup.config.js
  src/components/base/outline-button/outline-button.ts
  src/components/base/outline-element/utils/enums.ts
  src/components/base/outline-image/outline-image.stories.ts
  src/components/base/outline-image/outline-image.ts
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
