Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(storybook): update Storbyook to 6.3.4
  package.json
  yarn.lock
Due: prettier --write

fix(ci): updated config for storybook artifact
  .github/workflows/build.yml
Due: none

fix(ci): revert cache removal
  .github/workflows/build.yml
Due: none

feat(accordion): initial commit. roughed in WIP
  src/components/base/outline-accordion/outline-accordion.css
  src/components/base/outline-accordion/outline-accordion.stories.ts
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

feat: adding basic proton documentation
  src/.storybook/stories/protons/colors.stories.mdx
  src/.storybook/stories/protons/spacing.stories.mdx
  src/.storybook/stories/protons/typefaces.stories.mdx
Due: none

docs: updated storyboook docs
  src/.storybook/main.js
  src/.storybook/stories/documentation/welcome.stories.mdx
  src/.storybook/stories/protons/colors.stories.mdx
  src/.storybook/stories/protons/spacing.stories.mdx
Due: eslint --fix, prettier --write

fix(lint): linter cleanup
  src/.storybook/stories/documentation/welcome.stories.mdx
Due: none

45: Modal story and basic component.
  src/components/base/outline-modal/outline-modal.css
  src/components/base/outline-modal/outline-modal.stories.ts
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: Add default size for modal.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: Update stories for modal.
  src/components/base/outline-modal/outline-modal.stories.ts
Due: eslint --fix, prettier --write

45: Add modal open / close behavior.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: Styles and keyboard navigation.
  src/components/base/outline-modal/outline-modal.css
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: Prettier formatting updates.
  src/components/base/outline-modal/outline-modal.css
Due: none

45: Add events to the modal.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: Escape to close and focus.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: Set modal z-index so it overlays other things.
  src/components/base/outline-modal/outline-modal.css
Due: none

45: Update documentation with better code example and grouped arguments.
  src/components/base/outline-modal/outline-modal.stories.ts
Due: eslint --fix, prettier --write

45: Add documentation around the modal.
  src/components/base/outline-modal/outline-modal.stories.ts
Due: eslint --fix, prettier --write

45: Tailwind styles.
  src/components/base/outline-modal/outline-modal.css
Due: none

45: Fix Tailwind styles for customizations.
  src/components/base/outline-modal/outline-modal.css
Due: none

chore(accordion): complete first pass, add focus for screen reader, singlePanel props
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

chore(accordion): update basic css, accordion.stories
  src/components/base/outline-accordion/outline-accordion.css
  src/components/base/outline-accordion/outline-accordion.stories.ts
Due: eslint --fix, prettier --write

chore(accordion): replace slot with unsafeHTML, change AccordionPanel.content<unknown>
  src/components/base/outline-accordion/outline-accordion.stories.ts
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

fix: install node v16
  .gitpod.yml
Due: none

fix: run yarn in non-interactive mode
  .gitpod.yml
Due: none

Revert "fix: run yarn in non-interactive mode"
  .gitpod.yml
Due: none

fix: run check-node-version non-interactive mode
  package.json
Due: prettier --write

fix: better handling of minimum node version
  .gitignore
  .npmrc
  package.json
Due: prettier --write

fix: install node v16 before prebuild
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

docs: outline-button storybook help.
  src/components/base/outline-button/outline-button.stories.ts
Due: eslint --fix, prettier --write

docs: outline-header.
  src/components/base/outline-heading/outline-heading.stories.ts
Due: eslint --fix, prettier --write

fix: use nvm
  .gitpod.Dockerfile
Due: none

installing node 16
  .gitpod.Dockerfile
Due: none

docs: outline-icon storybook documentation.
  src/components/base/outline-element/utils/utils.ts
  src/components/base/outline-icon/outline-icon.stories.ts
Due: eslint --fix, prettier --write

docs: outline-image storybook help.
  src/components/base/outline-image/outline-image.stories.ts
Due: eslint --fix, prettier --write

docs: outline-link storybook help.
  src/components/base/outline-link/outline-link.stories.ts
Due: eslint --fix, prettier --write

45: Add different sizes for the modal.
  src/components/base/outline-modal/outline-modal.css
  src/components/base/outline-modal/outline-modal.stories.ts
Due: eslint --fix, prettier --write

45: Add documentation to the custom element.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: Prettier formatting on the story.
  src/components/base/outline-modal/outline-modal.stories.ts
Due: eslint --fix, prettier --write

45: Accessibility: full screen on small screens.
  src/components/base/outline-modal/outline-modal.css
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
