Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(testing): add tests for outline image
  src/components/base/outline-image/test/outline-image.test.ts
Due: eslint --fix, prettier --write

fix: add figcaption to template function
  src/components/base/outline-image/outline-image.ts
Due: eslint --fix, prettier --write

feat(testing): add tests to outline-link
  src/components/base/outline-link/test/outside-link.test.ts
Due: eslint --fix, prettier --write

fix: add .js extension to if-defined directive
  src/components/base/outline-link/outline-link.ts
Due: eslint --fix, prettier --write

chore(ci): test workflow_run method to trigger storybook job
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

fix(ci): tweak to debugging failure
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

fix(ci): formatting for storybook workflow
  .github/workflows/storybook.yml
Due: none

feat(ci): preparing to push to next for testing workflow_run capabilities
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

feat(ci): tweaks to download artifact job
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

fix(ci): updated job comments
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

feat(ci): attempted first publish to Pages
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

chore(lint): fix linting on workflows
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

fix(tests): logic tweaks, adding to actions
  .github/workflows/build.yml
  package.json
  web-dev-server-config.mjs
  web-test-runner.config.mjs
  yarn.lock
Due: prettier --write

fix(tests): ensure full build is ran, including prebuild
  package.json
Due: prettier --write

fix(ci): updated workflows
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

fix(ci): adding in playwright action
  .github/workflows/build.yml
Due: none

fix(ci): typo in action name
  .github/workflows/build.yml
Due: none

refactor: reformat browserstack functions
  web-test-runner.config.mjs
Due: none

fix: rename web-dev-server config
  web-dev-server.config.js
Due: eslint --fix, prettier --write

chore(revert): test setup changes from package.json
  .github/workflows/build.yml
  package.json
  yarn.lock
Due: prettier --write

fix(ci): correct calls to linters
  package.json
Due: prettier --write

fix: hide tests from tsc
  tsconfig.json
Due: prettier --write

fix: force push/reset on gh pages deploys
  .github/workflows/storybook.yml
Due: none

chore: cleanup on GitHub actions
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: none

feat(ci): updated caching paths to include node_modules
  .github/workflows/build.yml
Due: none

fix(ci): fixing broken yaml in build.yml
  .github/workflows/build.yml
Due: none

fix(ci): additional formatting fix
  .github/workflows/build.yml
Due: none

feat: upgrade Storybook to 6.3.2
  package.json
  yarn.lock
Due: prettier --write

docs: updating primary outline stories
  CONTRIBUTING.md
  src/.storybook/stories/documentation/contributing.stories.mdx
  src/.storybook/stories/documentation/tooling.stories.mdx
Due: prettier --write

fix(lint): fix formatting on updated docs
  src/.storybook/stories/documentation/contributing.stories.mdx
  src/.storybook/stories/documentation/tooling.stories.mdx
Due: none

Basic Docker local development environment.
  CONTRIBUTING.md
  docker-compose.yml
Due: prettier --write

Add a link to the URL in the setup steps.
  CONTRIBUTING.md
Due: prettier --write

Ran code style commands.
  docker-compose.yml
Due: none

fix: Button > Link `target` controls were broken in storybook.
  src/components/base/outline-button/outline-button.stories.ts
Due: eslint --fix, prettier --write

feat: gitpod + tailwind ext + storybook preview
  .gitpod.yml
Due: none

feat: add Gitpod button on top of readme
  README.md
Due: prettier --write

feat(ci): simplified release setup; updated node version
  .gitlab-ci.yml
  .nvmrc
  .releaserc
Due: none

fix(ci): remove private label
  package.json
Due: prettier --write

refactor: update actions to node 16
  .github/workflows/build.yml
Due: none

fix: remove semantic releases from outline proper
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
