Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix(styles): adjust styles to use demo colors
  src/components/base/outline-accordion-panel/outline-accordion-panel.css
  src/components/base/outline-accordion/outline-accordion.css
  src/components/utility/sb-icon-list-container/sb-icon-list-container.css
Due: none

fix: add '.js' to library resource
  src/components/base/outline-alert/outline-alert.stories.ts
Due: eslint --fix, prettier --write

fix: won't build without js references
  src/components/base/outline-alert/outline-alert.stories.ts
  src/utilities/form-control.ts
Due: eslint --fix, prettier --write

feat(conditional-slot-template): add to outline element
  src/components/base/outline-element/outline-element.ts
Due: eslint --fix, prettier --write

feat(youtube-video): create a component for Youtube video
  src/components/base/outline-video-youtube/outline-video-youtube.css
  src/components/base/outline-video-youtube/outline-video-youtube.stories.ts
  src/components/base/outline-video-youtube/outline-video-youtube.ts
Due: eslint --fix, prettier --write

fix: update eslint plugin and parser to match used versions
  package.json
  yarn.lock
Due: prettier --write

feat: screen size controller
  src/components/controllers/screen-size-controller.ts
Due: eslint --fix, prettier --write

chore: screen size controller spaces
  src/components/controllers/screen-size-controller.ts
Due: eslint --fix, prettier --write

fix(lint): fixes to linting
  .prettierignore
  .prettierrc.json
Due: prettier --write

feat(storybook): upgrade to 6.3.12
  package.json
  yarn.lock
Due: prettier --write

fix(list): adjustments to includes
  src/components/base/outline-list/outline-list.stories.ts
  src/utilities/form-control.ts
Due: eslint --fix, prettier --write

fix(typescript): fixing duplicate type export
  src/components/base/outline-container/config.ts
  src/components/base/outline-container/outline-container.ts
Due: eslint --fix, prettier --write

chore(tooling): remove Chromatic for now in Actions
  .github/workflows/chromatic.yml
Due: none

fix(storybook): updated story to point to a phase2 video
  src/components/base/outline-video-youtube/outline-video-youtube.stories.ts
Due: eslint --fix, prettier --write

feat(svgo): update configuration and trivial reformat of svg files
  .svgo.yml
  package.json
  src/.storybook/stories/assets/logos/lit.svg
  src/.storybook/stories/assets/logos/tailwindjit.svg
  src/.storybook/stories/assets/outline/Outline_Banner.svg
  src/.storybook/stories/assets/outline/Outline_Slide.svg
  src/components/base/outline-icon/svgs/brand/facebook.svg
  src/components/base/outline-icon/svgs/brand/next-door.svg
  src/components/base/outline-icon/svgs/custom/ballot-drop.svg
  src/components/base/outline-icon/svgs/custom/close-circle.svg
  src/components/base/outline-icon/svgs/custom/google-logo.svg
  src/components/base/outline-icon/svgs/custom/office-logo.svg
  src/components/base/outline-icon/svgs/custom/send.svg
  src/components/base/outline-icon/svgs/outline/clock.svg
  src/components/base/outline-icon/svgs/solid/align-left.svg
  src/components/base/outline-icon/svgs/solid/align-right.svg
  src/components/base/outline-icon/svgs/solid/arrow-left.svg
  src/components/base/outline-icon/svgs/solid/arrow-right.svg
  src/components/base/outline-icon/svgs/solid/bullhorn.svg
  src/components/base/outline-icon/svgs/solid/check-square.svg
  src/components/base/outline-icon/svgs/solid/chevron-down.svg
  src/components/base/outline-icon/svgs/solid/chevron-left.svg
  src/components/base/outline-icon/svgs/solid/chevron-right.svg
  src/components/base/outline-icon/svgs/solid/chevron-up.svg
  src/components/base/outline-icon/svgs/solid/clock.svg
  src/components/base/outline-icon/svgs/solid/exclamation-triangle.svg
  src/components/base/outline-icon/svgs/solid/fax.svg
  src/components/base/outline-icon/svgs/solid/home.svg
  src/components/base/outline-icon/svgs/solid/images.svg
  src/components/base/outline-icon/svgs/solid/laptop.svg
  src/components/base/outline-icon/svgs/solid/link.svg
  src/components/base/outline-icon/svgs/solid/mailbox.svg
  src/components/base/outline-icon/svgs/solid/pen-nib.svg
  src/components/base/outline-icon/svgs/solid/pen-square.svg
  src/components/base/outline-icon/svgs/solid/search.svg
  src/components/base/outline-icon/svgs/solid/times.svg
  src/components/base/outline-icon/svgs/solid/volume-up.svg
  src/components/base/outline-icon/svgs/solid/voting-booth.svg
  src/components/base/outline-icon/svgs/solid/voting-location.svg
  svgo.config.js
Due: eslint --fix, prettier --write

feat(vimeo-video): add component
  src/components/base/outline-video-vimeo/outline-video-vimeo.css
  src/components/base/outline-video-vimeo/outline-video-vimeo.stories.ts
  src/components/base/outline-video-vimeo/outline-video-vimeo.ts
Due: eslint --fix, prettier --write

feat: add splidejs library
  package.json
  yarn.lock
Due: prettier --write

feat: port outline image gallery from smc
  src/components/base/outline-image-gallery/outline-image-gallery.css
  src/components/base/outline-image-gallery/outline-image-gallery.stories.ts
  src/components/base/outline-image-gallery/outline-image-gallery.ts
  src/components/base/outline-image-gallery/shared.css
Due: eslint --fix, prettier --write

fix: yarn fmt.code
  src/components/base/outline-image-gallery/outline-image-gallery.css
Due: none

feat: refactor name of component
  src/components/base/outline-image-gallery/outline-image-slider.css
  src/components/base/outline-image-gallery/outline-image-slider.stories.ts
  src/components/base/outline-image-gallery/outline-image-slider.ts
Due: eslint --fix, prettier --write

refactor: rename folder
  src/components/base/outline-image-slider/outline-image-slider.css
  src/components/base/outline-image-slider/outline-image-slider.stories.ts
  src/components/base/outline-image-slider/outline-image-slider.ts
  src/components/base/outline-image-slider/shared.css
Due: eslint --fix, prettier --write

feat: remove unused css file
  src/components/base/outline-image-slider/shared.css
Due: none

feat: add breadcrumbs to card stories
  src/components/base/outline-card/outline-card.stories.ts
Due: eslint --fix, prettier --write

fix: fix slotted-controller edge cases
  src/components/controllers/slotted-controller.ts
Due: eslint --fix, prettier --write

fix: adjusting typing on slotted controller
  src/components/controllers/slotted-controller.ts
Due: eslint --fix, prettier --write

fix: no longer need to target ::slotted in css
  src/components/base/outline-breadcrumbs/outline-breadcrumbs.css
Due: none

feat: added outline-calendar-dropdown-link component
  package.json
  src/components/base/outline-calendar-link-dropdown/outline-calendar-link-dropdown.css
  src/components/base/outline-calendar-link-dropdown/outline-calendar-link-dropdown.stories.mdx
  src/components/base/outline-calendar-link-dropdown/outline-calendar-link-dropdown.ts
  src/components/base/outline-calendar-link-dropdown/test/outline-calendar-link-dropdown.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

Added common js to rollup config
  package-lock.json
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: add no-nested-ternary rule
  .eslintrc.json
Due: prettier --write

feat(linting)!: add airbnb base eslint config
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

Revert "feat(linting)!: add airbnb base eslint config"
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

chore(outline-nav): generate initial test data object
  src/components/base/outline-nav-meun/nav-test-data.ts
Due: eslint --fix, prettier --write

feat(outline-nav-item): add basic nav item and stories
  src/components/base/outline-nav-meun/outline-nav-item.css
  src/components/base/outline-nav-meun/outline-nav-item.stories.ts
  src/components/base/outline-nav-meun/outline-nav-item.ts
Due: eslint --fix, prettier --write

fix: change env to env-local for octane compatibility
  .env-local.example
  .gitignore
Due: none

fix: ignore octane and github folders for linting
  .eslintignore
Due: none

fix: ignore octane and github files for prettier
  .prettierignore
Due: none

fix: remove gitlab dependency from releaserc
  .releaserc
Due: none
