Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix: update for storybook build
  package.json
Due: prettier --write

feat(actions): adding build.yml action
  .github/workflows/build.yml
Due: none

fix: formatting fix for build.yml action
  .github/workflows/build.yml
Due: none

feat: adjusting github actions
  .github/workflows/build.yml
Due: none

fix: updating task names
  .github/workflows/build.yml
Due: none

feat(ci): testing public actions
  .github/workflows/build.yml
Due: none

fix(ci): adjusting job names
  .github/workflows/build.yml
Due: none

fix(ci): replacing the runs-on config
  .github/workflows/build.yml
Due: none

fix(ci): combining steps back into single job
  .github/workflows/build.yml
Due: none

fix(ci): updated ci build
  .github/workflows/build.yml
Due: none

fix(ci): testing updated cache
  .github/workflows/build.yml
Due: none

fix(ci): updated workflow
  .github/workflows/build.yml
Due: none

chore(docs): updating tooling page
  src/.storybook/stories/assets/logos/typescript.png
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/.storybook/storybook-styles.css
Due: none

fix(ci): setup build steps to use cache
  .github/workflows/build.yml
Due: none

fix(ci): give jobs meaningful names
  .github/workflows/build.yml
Due: none

feat(ci): setting up artifact push for storybook
  .github/workflows/build.yml
Due: none

chore(ci): testing adjustments to artifact setup
  .github/workflows/build.yml
Due: none

feat(ci): testing artifact upload on single branch
  .github/workflows/build.yml
Due: none

chore(ci): testing limitation in actions with job.if
  .github/workflows/build.yml
Due: none

fix(ci): adjusting reference to test
  .github/workflows/build.yml
Due: none

chore(ci): further testing and debugging of actions
  .github/workflows/build.yml
Due: none

chore(ci): testing additional action logic
  .github/workflows/build.yml
Due: none

fix(ci): fixing broken operatior in job
  .github/workflows/build.yml
Due: none

fix(ci): update ref for feature branch testing
  .github/workflows/build.yml
Due: none

feat(ci): adding initial storybook.yml action
  .github/workflows/storybook.yml
Due: none

fix(lint): correcting formatting of new action
  .github/workflows/storybook.yml
Due: none

fix(ci): testing new workflow availability
  .github/workflows/storybook.yml
Due: none

fix: add process to global variables
  .eslintrc.json
Due: prettier --write

docs: add testing section
  CONTRIBUTING.md
Due: prettier --write

feat(testing): add testing dependencies and test scripts
  package.json
Due: prettier --write

feat(testing): add test runner config
  web-test-runner.config.mjs
Due: none

feat(testing): add outline-heading test
  src/components/base/outline-heading/test/outline-heading.test.ts
Due: eslint --fix, prettier --write

feat(testing): add tests to outline-button
  src/components/base/outline-button/test/outline-button.test.ts
Due: eslint --fix, prettier --write

feat(testing): add example .env file with browserstack envs
  .env.example
Due: none

feat(testing): add tests to outline-card
  src/components/base/outline-card/test/outline-card.test.ts
Due: eslint --fix, prettier --write

feat(testing): add tests to outline-container
  src/components/base/outline-container/test/outline-container.test.ts
Due: eslint --fix, prettier --write

feat(testing): add test to outline-element
  src/components/base/outline-element/test/outline-element.test.ts
Due: eslint --fix, prettier --write

feat(testing): add tests to outline-grid
  src/components/base/outline-grid/outline-column/test/outline-column.test.ts
Due: eslint --fix, prettier --write

fix: add .js to if-defined directive
  src/components/base/outline-grid/outline-grid.ts
Due: eslint --fix, prettier --write

feat(testing): add tests to outline-grid
  src/components/base/outline-grid/test/outline-grid.test.ts
Due: eslint --fix, prettier --write
