Repository phase2/outline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

45: Refactor focus on element to avoid changing the value of variables.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: More descriptive variable names and avoid changing value on trap focus.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

45: Use small get method to make trap focus clearer.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

chore: update testing dependency to latest
  package.json
Due: prettier --write

refactor: update html imports
  src/.storybook/stories/documentation/contributing.stories.mdx
  src/.storybook/stories/documentation/tooling.stories.mdx
  src/.storybook/stories/documentation/welcome.stories.mdx
  src/.storybook/stories/protons/colors.stories.mdx
  src/.storybook/stories/protons/spacing.stories.mdx
  src/.storybook/stories/protons/typefaces.stories.mdx
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-card/outline-card.stories.ts
  src/components/base/outline-container/outline-container.stories.ts
  src/components/base/outline-grid/outline-column/outline-column.stories.ts
  src/components/base/outline-grid/outline-grid.stories.ts
  src/components/base/outline-heading/outline-heading.stories.ts
  src/components/base/outline-icon/outline-icon.stories.ts
  src/components/base/outline-image/outline-image.stories.ts
  src/components/base/outline-link/outline-link.stories.ts
Due: eslint --fix, prettier --write

chore(button): update to handle aria-diabled attribute,disbaled behavior, click/keyup atribues
  src/components/base/outline-button/outline-button.css
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

chore(button): clean up
  src/components/base/outline-button/outline-button.stories.ts
Due: eslint --fix, prettier --write

chore(button): cleanup unused import
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

41: Move properties to the top to match style expectations.
  src/components/base/outline-alert/outline-alert.ts
Due: eslint --fix, prettier --write

41: Use null when returning empty templates.
  src/components/base/outline-alert/outline-alert.ts
Due: eslint --fix, prettier --write

feat(breadcrumb): setting up files
  src/components/base/outline-breadcrumb/config.ts
  src/components/base/outline-breadcrumb/outline-breadcrumb.css
  src/components/base/outline-breadcrumb/outline-breadcrumb.stories.ts
  src/components/base/outline-breadcrumb/outline-breadcrumb.ts
  src/components/base/outline-breadcrumb/test/outside-breadcrumb.test.ts
Due: eslint --fix, prettier --write

chore(button): add role and tabindex properties, r/f aria-disabled logic, stlyes
  src/components/base/outline-button/outline-button.css
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

chore(button-update): lint css
  src/components/base/outline-button/outline-button.css
Due: none

feat(breadcrumb): starting to setup story
  src/components/base/outline-breadcrumb/outline-breadcrumb.stories.ts
  src/components/base/outline-breadcrumb/outline-breadcrumb.ts
Due: eslint --fix, prettier --write

45: Use slot state.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

docs: Example html consumer.
  example-consumers/html/README.md
  example-consumers/html/index.html
  example-consumers/html/outline.js
  example-consumers/html/outline.js.map
  example-consumers/html/outline.theme.css
  example-consumers/html/package.json
Due: eslint --fix, prettier --write

docs: Typo in file(s).
  example-consumers/html/index.html
Due: none

chore: Forgot to run the formatter.
  example-consumers/html/index.html
Due: none

feat: updating documentation
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore(button-update): add outline-tooltip
  src/components/base/outline-tooltip/outline-tooltip.css
  src/components/base/outline-tooltip/outline-tooltip.stories.ts
  src/components/base/outline-tooltip/outline-tooltip.ts
Due: eslint --fix, prettier --write

chore(button-update): update button to use size, and outline-tooltip
  src/components/base/outline-button/outline-button.css
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-button/outline-button.ts
Due: eslint --fix, prettier --write

feat(tooltip): add outline-tooltip
  src/components/base/outline-tooltip/outline-tooltip.css
  src/components/base/outline-tooltip/outline-tooltip.stories.ts
  src/components/base/outline-tooltip/outline-tooltip.ts
Due: eslint --fix, prettier --write

fix: Basic HTML example server.
  web-dev-server.config.js
  web-dev-server.config.mjs
Due: eslint --fix, prettier --write

docs: Basic HTML readme update and example update.
  dev/README.md
  dev/index.html
Due: prettier --write

chore: fix the module type on the legacy js file.
  dev/index.html
Due: none

chore(tooltip): update positional styles, storybook control docs
  src/components/base/outline-tooltip/outline-tooltip.css
  src/components/base/outline-tooltip/outline-tooltip.stories.ts
Due: eslint --fix, prettier --write

chore(accordion): update styles, storybook docs
  src/components/base/outline-accordion/outline-accordion.css
  src/components/base/outline-accordion/outline-accordion.stories.ts
Due: eslint --fix, prettier --write

chore(button-update): update storybook control docs
  src/components/base/outline-button/outline-button.stories.ts
  src/components/base/outline-link/config.ts
Due: eslint --fix, prettier --write

chore(accordion): cleanup
  src/components/base/outline-accordion/outline-accordion.css
  src/components/base/outline-accordion/outline-accordion.ts
Due: eslint --fix, prettier --write

Merge pull request #40 from phase2/gitpod
  .gitignore
  .gitpod.Dockerfile
  .gitpod.yml
  .npmrc
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

fix: adjustment to yarn test script; updated lock file
  package.json
  yarn.lock
Due: prettier --write

Fix: Exclude the tests in the rollup distribution.
  rollup.config.js
Due: eslint --fix, prettier --write

chore: Prettier formatting for Rollup configuration.
  rollup.config.js
Due: eslint --fix, prettier --write

fix: remove Gitpod button from PR comments
  .gitpod.yml
Due: none

test: 45: Outline modal test.
  src/components/base/outline-modal/outline-modal.ts
  src/components/base/outline-modal/test/outline-modal.test.ts
Due: eslint --fix, prettier --write

chore: 45: Use generic name for Outline Component to help with copy & paste.
  src/components/base/outline-modal/test/outline-modal.test.ts
Due: eslint --fix, prettier --write

feature: Story for force action on modal.
  src/components/base/outline-modal/outline-modal.stories.ts
Due: eslint --fix, prettier --write

Feature: 45: Force action feature for modal.
  src/components/base/outline-modal/outline-modal.ts
Due: eslint --fix, prettier --write

fix: Exclude examples from production build.
  rollup.config.js
Due: eslint --fix, prettier --write

docs: Remove example elements from example html consumer.
  dev/index.html
Due: none
